h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  background-color: rgb(0, 0, 0);
  color: bisque;
  margin: 0%;
}
body {
  background-color: bisque;
  height: 100vh;
  width: 100vw;
}
/* Styles the whole slider */
.mySliders {
  width: 150px;
  background-color: transparent;

  /* Removes some defaults */
  -webkit-appearance: none;
}

/* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
.mySliders:focus {
  /* Stops the default outline showing up */
  outline: none;
}

/* This is the "track" that the slider sits on  */
.mySliders::-webkit-slider-runnable-track {
  background: #000000;
  height: 3px;
  -webkit-appearance: none;

  /* Turns the cursor into the hand pointer icon when hovering over the slider  */
  cursor: pointer;
}

/* This is the moveable bit of the slider, known as the "thumb"*/
.mySliders::-webkit-slider-thumb {
  width: 25px;
  height: 15px;
  background: gray;
  cursor: pointer;
  -webkit-appearance: none;

  /* negative top padding moves it up */
  margin-top: -6px;

  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 8px;
}

.recordButton {
  font-family: "Courier New", Courier, monospace;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  color: rgb(0, 0, 0);

  font-size: 13px;
}
.button {
  background-color: aqua;
  align-self: center;
}
